<%- include('head.ejs') %>
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    .flex-container {
        display: flex;
        justify-content: center;
    }
    .size{
        width: 50%;
    }
    .buttonstyle{
        background-image: linear-gradient(#009adc, #1e427e);
        color:white;
    }

    .classButtons {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    .center {
        margin: auto;
    }

    .student_table{
        display: inline-block;
        margin-left: 20px;
    }

</style>
<script>
    function tableToCSV() {
        // Variable to store the final csv data
        var csv_data = [];

        // Get each row data
        var rows = document.getElementsByTagName('tr');
        for (var i = 0; i < rows.length; i++) {
            // Get each column data
            var cols = rows[i].querySelectorAll('td,th');
            // Stores each csv row data
            var csvrow = [];
            for (var j = 0; j < cols.length; j++) {
                // Get the text data of each cell of
                // a row and push it to csvrow
                csvrow.push(cols[j].innerHTML);
            }
            // Combine each column value with comma
            csv_data.push(csvrow.join(","));
        }
        // combine each row data with new line character
        csv_data = csv_data.join('\n');

        downloadCSVFile(csv_data);
    }
    function downloadCSVFile(csv_data) {
        // Create CSV file object and feed our csv_data into it
        CSVFile = new Blob([csv_data], { type: "text/csv" });

        // Create to temporary link to initiate download process
        var temp_link = document.createElement('a');

        // Download csv file
        temp_link.download = "GfG.csv";
        var url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;

        // This link should not be displayed
        temp_link.style.display = "none";
        document.body.appendChild(temp_link);

        // Automatically click the link to trigger download
        temp_link.click();
        document.body.removeChild(temp_link);
    }
</script>
    <body>
    <h1><%= course_id_value[0].id%></h1>
        <table>
            <tr>
                <td><b>Name</b></td>
                <td class="student_table"></td>
                <td class="student_table"></td>
                <td><b>Attendance Score</b></td>
            </tr>
            <% for (var i = 0; i < student_list.length; i++) { %>
                <tr>
                    <td><%= student_list[i].student_name %></td>
                    <td class="student_table"></td>
                    <td class="student_table"></td>
                    <td><%= student_list[i].student_attendance %></td>
                </tr>
            <% } %></table>

        <div>
            <button class="buttonstyle" onclick="window.location.href = 'http://localhost:3000/generateCode'">Generate QR Code</button>
        </div>

        <div>
            <button class="buttonstyle" onclick="">Generate Attendance Report (.xlsx)</button>
            <button class="buttonstyle" onclick="">Generate Attendance Report (.pdf)</button>
        </div>

    </body>
</html>

<%- include('footer.ejs') %>