<%- include('head.ejs') %>
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    .flex-container {
        display: flex;
        justify-content: center;
    }
    .size{
        width: 50%;
    }
    .buttonstyle{
        background-image: linear-gradient(#009adc, #1e427e);
        color:white;
    }
    .classButtons {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    .center {
        margin: auto;
    }
    .center-of-page{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .student_table{
        display: inline-block;
        margin-left: 20px;
    }
</style>
<script>
    function tableToCSV() {
        // Variable to store the final csv data
        let csv_data = [];
        // Get each row data
        let rows = document.getElementsByTagName('tr');
        for (var i = 0; i < rows.length; i++) {
            // Get each column data
            let cols = rows[i].querySelectorAll('td,th');
            // Stores each csv row data
            let csv_row = [];
            for (let j = 0; j < cols.length; j++) {
                // Get the text data of each cell of a row and push it to csv row
                if(cols[j].innerHTML.includes('<b>')){
                    csv_row.push(cols[j].innerHTML.replace('<b>','').replace('</b>',''));
                }else if(cols[j].innerHTML !== ''){
                    if(cols[j].innerHTML.includes('/')){
                        csv_row.push(cols[j].innerHTML.replace('/','//'))
                    }else{
                        csv_row.push(cols[j].innerHTML)
                    }
                }
            }
            // Combine each column value with comma
            csv_data.push(csv_row.join(","));
        }
        // combine each row data with new line character
        csv_data = csv_data.join('\n');

        downloadCSVFile(csv_data);
    }
    function downloadCSVFile(csv_data) {
        // Create CSV file object and feed our csv_data into it
        CSVFile = new Blob([csv_data], { type: "text/csv" });

        // Create to temporary link to initiate download process
        var temp_link = document.createElement('a');

        // Download csv file
        let id = document.getElementById('getCode').innerText
        temp_link.download = id + '.csv';
        var url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;

        // This link should not be displayed
        temp_link.style.display = "none";
        document.body.appendChild(temp_link);

        // Automatically click the link to trigger download
        temp_link.click();
        document.body.removeChild(temp_link);
    }

    function createPDF() {
        var sTable = document.getElementById('tab').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head><b>');
        win.document.write('<title>Attendance</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</b></head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }
</script>
    <body>
    <div class="center-of-page">
        <h1 id="getCode"><%= course_id_value[0].id %></h1>
        <div id="tab">
            <table>
                <tr>
                    <td><b>Name</b></td>
                    <td class="student_table"></td>
                    <td class="student_table"></td>
                    <td><b>Attendance Score</b></td>
                </tr>
                <% for (var i = 0; i < student_list.length; i++) { %>
                    <tr>
                        <td><%= student_list[i].student_name %></td>
                        <td class="student_table"></td>
                        <td class="student_table"></td>
                        <td><%= student_list[i].student_attendance %></td>
                    </tr>
                <% } %></table>
        </div>
        <div>
            <button class="button-style raise" onclick="window.location.href = 'http://localhost:3000/generateCode-:<%= course_id_value[0].id %>'">Generate QR Code</button>
        </div>

        <div>
            <button class="button-style raise" onclick="tableToCSV()">Generate Attendance Report (.xlsx)</button>
            <button class="button-style raise" onclick="createPDF()">Generate Attendance Report (.pdf)</button>
        </div>
    </div>


    </body>
</html>
<%- include('footer.ejs') %>