<%- include('head.ejs') %>
<!DOCTYPE html>

<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    .flex-container {
        display: flex;
        justify-content: center;
    }
    .size{
        width: 50%;
    }
    .buttonstyle{
        background-image: linear-gradient(#009adc, #1e427e);
        color:white;
    }

    .classButtons {
        display: table;
        margin: 0 auto;
    }
    .center {
        margin: auto;
    }

    .getID{

    }

    .getButtons{

    }
</style>

<h1>Select a course</h1>
<div class="classButtons">
    <table>
        <% for (let i = 0; i < course_list.length; i++) { %>
            <tr>
                <td><button class="buttonstyle" onclick="window.location.href = 'http://localhost:3000/courseOptions-:<%= course_list[i]['course_id'] %>'"><%= course_list[i].course_name %></button></td>
            </tr>
        <% } %></table>
    <button class="buttonstyle" onclick="window.location.href = 'http://localhost:3000/updateCourses'">Update Courses</button>
</div>


<%- include('footer.ejs') %>